.file_properties {
    color: #888;
}
.delete_result {
	padding: 10px;
	text-align: center;
	color: #bd8080;
}
#file_description {
    height: 150px;
}
.file_block {
    box-shadow: 5px 5px 30px #99aabd;
    border: 0;
}
.panel-heading {
    text-shadow: 1px 1px 1px #000;
}